<div class="container">
  <mat-card>
    <mat-card-content>
      <form [formGroup]="groupForm" class="container-form">
        <mat-form-field appearance="fill">
          <mat-label>CÓDIGO</mat-label>
          <input #input matInput maxlength="10" formControlName="idGroup" />
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>DESCRIÇÃO DO GRUPO</mat-label>
          <input
            type="text"
            matInput
            maxlength="30"
            formControlName="descriptionGroup"
          />
          <mat-icon matSuffix>edit_square</mat-icon>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="btn">
      <button
        class="btn-content"
        color="accent"
        mat-raised-button
        (click)="editGroupClick()"
      >
        SALVAR
        <mat-icon
          aria-hidden="false"
          aria-label="Icon de Entrada"
          fontIcon="save"
        >
        </mat-icon>
      </button>
      <button
        color="warn"
        class="btn-content"
        mat-raised-button
        (click)="onCancelClick()"
      >
        CANCELAR
        <mat-icon
          aria-hidden="false"
          aria-label="Icon de saída"
          fontIcon="cancel"
        >
        </mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
