 @import "../../../styles.css";

 .container {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 50em;

 }

 .container-form {
   display: flex;
   flex-direction: column;

 }

 .container-form_header {
   display: flex;
   color: white;
   flex-direction: row-reverse;
   gap: 5em;
 }

 .btn {
   display: flex;
   justify-content: center;
   gap: 5em;
 }

 .btn-content {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.51em;
 }
