@import '../../../../styles.css';


.container {
  display: flex;
}

.container-form {
  padding: 5em;

}

.mat-mdc-form-field {
  min-width: 100%;
}

.mat-mdc-card-content {
  padding: 0;
}


.btn {
  display: flex;
  justify-content: center;
  gap: 5em;
}

.btn-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.51em;
}
